@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Plus+Jakarta+Sans:wght@700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100vw;
  height: 100vh;
  background-color: #0f172a;
  color: white;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

button:hover {
  transform: translateY(-2px);
  filter: brightness(1.2);
}